@charset "UTF-8";
/* CSS Document */
:root {
	--theme-color: #478ADF;
}

body {
	font-family: PT Sans, Roboto, Helvetica Neue;
	background-color: white;
	font-size: 25px;
	color: #606c76;
}

#title {
	color: var(--theme-color);
	font-size: 100px;
}

a {
	color: #606c76;
}

#big-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

#container {
	position: relative;
	top: auto;
	display: inline-block;
	text-align: center;
}

#title {
	margin: auto;
}

#links {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.link {
	color: #afb5ba;
}

.link:hover {
	color: #606c76;
	cursor: pointer;
}

.clicked {
	color: #606c76;
}

.display {
	display: none;
	text-align: left;
	height: 100px;
}
