@charset "UTF-8";
/* CSS Document */
:root {
	--theme-color: #1469F6;
}

body {
	font-family: Roboto, PT Sans, Helvetica Neue;
	background-color: #fff;
}

#big-container {
	position: relative;
	margin: 0vh 5vw;
	width: 90vw;
	min-height: 100vh;
	padding: 0px;
}

#body {
	position: relative;
	width: 75%;
	margin: 0px;
}

.section {
	height: auto;
	min-height: 300px;
}

.column {
	float: right;
	background-color: var(--theme-color);
	position: relative;
	height: 200%;
	min-height: 300px;
	width: 25px;
}

.circle {
	background-color: var(--theme-color);
	margin-top: 5vh;
	margin-left: -87.5px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.icon {
	margin-top: 25%;
	margin-left: 17.5%;
	align-self: center;
	height: 50%;
	width: 65%;
	opacity: 0.9
}

.content {
	vertical-align: middle;
	position: relative;
	margin-top: 5vh;
	font-size: 16px;
	width: 80%;
}

#sidebar {
	position: fixed;
	top: 5vh;
	left: 80%;
	height: 100vh;
	font-size: 12px;
}

#sidebar a, .footer {
	color: black;
	font-size: 12px;
}

.footer {
	position: absolute;
	width: 100vw;
	bottom: 0;
	text-align: center;
	z-index: 1;
	background-color: #D9D9D9;
}

.badge-light {
	background-color: white;
}

.proj-modal {
	width: 50vw;
	height: auto;
	max-height:40vh;
	margin-left: 25vw;
}

.modal-backdrop {
    opacity: 0.3 !important;
}

h1 {
	color: var(--theme-color);
}
