@charset "UTF-8";
/* CSS Document */
body {
	font-family: Roboto, Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
	background-color: #fff;
}

#big-container {
	margin: 0vh 10vw;
	width: 80vw;
	padding: 0px;
}

#body {
	position: relative;
	width: 75%;
	margin: 0px;
}

.section {
	height: auto;
	min-height: 200px;
}

.column {
	float: right;
	background-color: #f65314;
	height: 600px;
	width: 125px;
}

.circle {
	background-color: #f65314;
	margin-top: 150px;
	margin-left: -87.5px;
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

.icon {
	position: relative;
	float: right;
	margin-top: 5vh;
	width: 250px;
	height: 250px;
  	border-radius: 50%;
}

.content {
	vertical-align: middle;
	position: relative;
	margin-top: 5vh;
	font-size: 16px;
}

#name {
	font-size: 40px;
}

#sidebar {
	position: fixed;
	top: 5vh;
	left: 75%;
	height: 100vh;
	font-size: 12px;
}

#sidebar a, #footer {
	margin: 5px;
	color: black;
	font-size: 12px;
}

.badge-light {
	background-color: white;
}

.proj-modal {
	width: 50vw;
	height: auto;
	max-height:40vh;
	margin-left: 25vw;
}

.modal-backdrop {
    opacity:0.3 !important;
}
